<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590036511915-h68dt4lh1f5j541gp6pncbi2b4vqtdt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590036511915-h68dt4lh1f5j541gp6pncbi2b4vqtdt1</string>
	<key>API_KEY</key>
	<string>AIzaSyCnX4nP9wQy2eD3uxOQ2DnwzZGsLGoSDT8</string>
	<key>GCM_SENDER_ID</key>
	<string>590036511915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TobaIbrahim.Stock</string>
	<key>PROJECT_ID</key>
	<string>stock-cfcb5</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-cfcb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590036511915:ios:64d0ebd437697f85fb1bee</string>
	<key>DATABASE_URL</key>
	<string>https://stock-cfcb5.firebaseio.com</string>
</dict>
</plist>